h3 Array data is 
- for (var i = 0; i < myusers.length; i++) {
- if (myusers[i])
a(href=('edit?id='+i))= myusers[i]
<BR>
- }
a(href='edit') (Add New)
<BR>
h3 JSON data is
p name is #{myusersJson.name}
p id is #{myusersJson.id}