extends layout

block content

    h3 Edit this student's record
    form(method="POST", action="./editStudent",autocomplete='on')
        input(type='hidden',name='studentID',value=student.SNO)
        .form-group
            label(for="ONID") ONID 
            input#ONID.form-control( name="ONID",required,autofocus="autofocus", value=student.ONID, placeholder="Enter the ONID")
        .form-group
            label(for="Name") Name 
            input#Name.form-control( name="Name",required,autofocus="autofocus", value=student.NAME placeholder="Enter the Name")
        .form-group
            label(for="Team") Team Name 
            input#Team.form-control( name="Team",required,autofocus="autofocus", value=student.team placeholder="Enter the Team Name")
        <hr>
        .form-group
            button.btn.btn-primary(type="submit") Save